@inherits LayoutComponentBase

<Layout Class="layout">
    <Header>
        <div class="site-title">Azure Virtual Network Capacity Planner</div>
    </Header>
    <Content Style="padding: 0 50px;">
        <div class="site-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">©2020 Created by Chun Liu</Footer>
</Layout>
