@inherits LayoutComponentBase
@using System.Reflection

<div>
    <Layout Class="layout">
        <Header class="site-header">
            <div class="site-title">Azure Virtual Network Capacity Planner</div>
            <div class="feedback-btn">
                <Button Ghost Type="link">
                    <a href="https://github.com/chunliu/vnet-capacity-planner/issues" target="_blank">Feedback</a>
                </Button>
            </div>
        </Header>
        <Alert Type="@AlertType.Info"
               Message="Only works for IPv4. Multiple address ranges are supported now."
               ShowIcon Closable />
        <Content Style="padding: 0 50px;">
            <div class="site-content">@Body</div>
        </Content>
        <Footer Style="text-align: center; ">©2020 Created by <a href="https://github.com/chunliu">Chun Liu</a>  |  version: @version</Footer>
    </Layout>
</div>

@code {
        private static string version = $"v{Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion}";
}
