@inherits LayoutComponentBase

<div>
    <Layout Class="layout">
        <Header class="site-header">
            <Row>
                <Col Span="8"><div class="site-title">Azure Virtual Network Capacity Planner</div></Col>
                <Col Span="2" Offset="14">
                    <Button Ghost Type="link">
                        <a href="https://github.com/chunliu/vnet-capacity-planner/issues" target="_blank">Feedback</a>
                    </Button>
                </Col>
            </Row>


        </Header>
        <Content Style="padding: 0 50px;">
            <div class="site-content">@Body</div>
        </Content>
        <Footer Style="text-align: center; ">©2020 Created by <a href="https://github.com/chunliu">Chun Liu</a>  |  version: 0.1.15</Footer>
    </Layout>
</div>