@page "/"
@using vnet_capacity_planner.Components;

<Card Title="Virtual Network" Bordered="false">
    <Extra>
        <Dropdown>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>Export <Icon Type="down" /></a>
            </ChildContent>
            <Overlay>
                <Menu>
                    <MenuItem OnClick="ClickExportArm">ARM Template</MenuItem>
                    <MenuItem OnClick="ClickExportCSV">CSV</MenuItem>
                </Menu>
            </Overlay>
        </Dropdown>
    </Extra>
    <Body>
        <VnetTable />
    </Body>
</Card>
<Card Title="Subnets" Bordered="false">
    <SubnetsTable />
</Card>
