.site-title {
    color: #fff;
    font-size: large;
    font-weight: bold;
    float: left;
}

.site-content {
    background: #fff;
    padding: 24px;
    margin: 32px 0 0;
    min-height: 280px;
}

::deep .site-header {
    background: #484644;
}

::deep .feedback-btn {
    float: right;
}